div {
    width: 60px;
    height: 90px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

.break {
    flex-basis: 100%;
    height: 0;
    border: 0;
  }