div {
    width: 7%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divBreak { 
    position: absolute;
    right: 0; 
    margin-right: 4.5%;
    flex-direction: row;
    height: 15%;
}

.divBreakP{
    margin-top: 7.05%;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

.break {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0;
}