div {
    width: 7%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divBreakD {
    position: absolute;
    right: 4.5%;
    flex-direction: row;
    height: 15%;
}

.divBreakE {
    position: absolute;
    left: 4.5%;
    flex-direction: row;
    height: 15%;
}

body,
html {
    height: 100vh;
    overflow: hidden;
    background-image: url(Imagens/7d060031c60049314536131e18168655.jpg);

}

.break {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0;
}

@media screen and (min-width: 920px) {
    body {
        background-image: url(Imagens/ceu-de-espaco-3d-abstrato-com-estrelas-e-nebulosa.jpg);
        background-size: 100%;
    }
}