body {
    background-image: url(Imagens/7d060031c60049314536131e18168655.jpg);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    justify-self: center;
}
a {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    padding: 12px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

a:hover {
    box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.85);
    background-color: rgb(20, 20, 20);
    animation: botao;
    animation-duration: 0.5s;
}



@keyframes botao {
    from {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    to {
        box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.85);
    }
}

@media screen and (min-width: 920px) {
    body {
        background-image: url(Imagens/ceu-de-espaco-3d-abstrato-com-estrelas-e-nebulosa.jpg);
        background-size: 100%;
    }
}