body {
    background-image: url(Imagens/7d060031c60049314536131e18168655.jpg);
    background-size: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    opacity: 100%;
}

.divS {
    background-color: rgba(0, 0, 0, 0.548);
    padding: 12px;
    border-radius: 12px;
    box-shadow: -1px 13px 11px 8px rgba(0, 0, 0, 0.39);
    margin: 20px;
    display: block;
}

.divB {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    padding: 12px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

a:hover {
    box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.85);
    background-color: rgb(20, 20, 20);
    animation: botao;
    animation-duration: 0.5s;
}

::-webkit-scrollbar{
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.705);
}

@keyframes botao {
    from {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    to {
        box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.85);
    }
}

@media only screen and (min-width: 920px) {
    body {
        background-image: url(Imagens/ceu-de-espaco-3d-abstrato-com-estrelas-e-nebulosa.jpg);
        background-size: 100%;
    }
}